<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" style="background:#428DA566;color:#ffffff;">PetroEVL Solutions 2026</h1>
        </div>
    </header>
</main>