<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Products</h1>
            <h3 class="mb-5">
                <ul style="list-style: disc; text-align: left; display: inline-block; padding-left: 1.25rem;">
                    <li>PetroEVL</li>
                    <img src="/img/PetroEVLScreenshot01.png" alt="PetroEVL" class="card-img-top mx-auto m-2 w-50">
                    <li>PetroEVL LAS View</li>
                </ul>
            </h3>
        </div>
    </header>
</main>