<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="/img/PEVL_512_IconV2.png" alt="PetroEVL icon" class="bar-icon">
    <a class="navbar-brand" href="/">PetroEVL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/links">All links</a></li>
            <li><a class="dropdown-item" href="/links/add">Add a link</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Log out</a>
        </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">Sign up</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>